.filter-chip {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.25rem;
    padding: 0.5rem;
    background-color: #EDEDED;
    display: flex;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
}

.filter-chip-close-button {
    color: #828282;
    height: 1rem !important;
    margin-top: 0.188rem;
    cursor: pointer;
}

/* Mobile: */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    .filter-chip {
        margin-top: 0.5rem;
        justify-content: space-between;
    }
}

/* Tablet: */
@media only screen
and (min-device-width : 641px)
and (max-device-width : 1025px) {
    .filter-chip {
        margin-bottom: 0.5rem;
    }
}

/* Desktop: */
@media only screen
and (min-device-width : 1026px)
and (max-device-width : 1440px) {
      
}