.notify-me-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;
    background-color: #FFFFFF;
    border: none;
    border-radius: 0.3rem;
    padding: 1.5rem;
}

.title {
    font-size: 1.25rem;
    font-family: 'Inter', sans-serif;
    line-height: 1.5rem;
    font-weight: 500;
    color: #444444;
    margin-bottom: .5rem;
}

.subtitle {
    width: 31.938rem;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    line-height: 1.5rem;
    font-weight: 400;
    color: #444444;
    margin-bottom: 1rem;
}

.email-field {
    width: 100%;
}

.close-button-container {
    text-align: right;
}

.close-button-container button {
    border: none;
    background: none;
    padding: 0;
}

.close-button-container button:hover {
    cursor: pointer;
}

.actions-container {
    padding: 1rem 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.actions-container button {
    margin-left: 1rem;
    text-transform: none;
}

.actions-container .nevermind-button,
.actions-container .nevermind-button:hover {
    color: #4B68FE;
    border: solid 1px #4B68FE;
}

/* Mobile: */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    .notify-me-container {
        width: 80%;
    }

    .subtitle {
        width: 100%;
    }    
}

/* Tablet: */
@media only screen
and (min-device-width : 641px)
and (max-device-width : 1025px) {
    
}

/* Desktop: */
@media only screen
and (min-device-width : 1026px)
and (max-device-width : 1440px) {
      
}