.empty-page-container .image-container img{
    width: 23.055rem;
    height: 14.026rem;
    margin: 0;
}

.empty-page-container .image-container {
    display: flex;
    justify-content: center;
}

.empty-page-title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 3rem;
}

.empty-page-subtitle {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #828282;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

/* Mobile: */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    .empty-page-container .image-container img{
        width: 85%;
        margin: 0;
    }

    .empty-page-title {
        padding: 3rem 3rem 0 3rem;
    }

    .empty-page-subtitle {
        margin-bottom: 5rem;
    }
}

/* Tablet: */
@media only screen
and (min-device-width : 641px)
and (max-device-width : 1025px) {
    
}

/* Desktop: */
@media only screen
and (min-device-width : 1026px)
and (max-device-width : 1440px) {
      
}
