.integrations-container {
    padding: 0rem 2rem 2rem 2rem;
}

.pagination {
    margin: 2rem 0 3rem 2rem;
}

.integrations-page-limiter {
    max-width: 90rem;
    margin: 0 auto;
}

.filter-chips-container {
    display: flex;
    margin: 2rem;
}

/* Mobile: */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    .filter-chips-container {
        flex-wrap: wrap;
    }
}

/* Tablet: */
@media only screen
and (min-device-width : 641px)
and (max-device-width : 1025px) {
    .filter-chips-container {
        flex-wrap: wrap;
    }
}

/* Desktop: */
@media only screen
and (min-device-width : 1026px)
and (max-device-width : 1440px) {
      
}