.hero-container {
    background-color: #4B68FE;
    padding: 5rem;
    background-image: url("../../assets/integrations/background.svg");
    background-repeat: no-repeat;
}

.hero-limiter {
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero-title {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 2rem;
}

.hero-description {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    width: 41.5rem;
}

.hero-image {
    width: 22.75rem;
    height: 21.0381rem;
}

/* Mobile: */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    .hero-description {
        width: 18rem;
    }

    .hero-image {
        width: 18rem;
    }
    
    .hero-container {
        padding: 1rem;
    }
}

/* Tablet: */
@media only screen
and (min-device-width : 641px)
and (max-device-width : 1025px) {
    .hero-container {
        padding: 3rem;
    }

    .hero-description {
        width: 25rem;
    }

    .hero-image {
        width: 14rem;
        margin-top: -2rem;
    }
 }

/* Desktop: */
@media only screen
and (min-device-width : 1026px)
and (max-device-width : 1440px) {
    .hero-image {
        width: 22.75rem;
        margin-top: -1.5rem;
    }

    .hero-description {
        width: 41.5rem;
    }   
}


