.notify-link {
    color: #4B68FE;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    background: none;
    margin: 1rem;
}

.notify-link:hover {
    cursor: pointer;
}