.card-content {
    display: flex;
    flex-direction: column;
}

.group-content {
    display: flex;
    flex-direction: row;
}

.name-container {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #444444;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.25rem;
}

.category-container {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #444444;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 0.875rem;
}

.image-container img {
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1rem;
}

.description {
    margin-top: 1rem;
    color: #444444;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    height: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Mobile: */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    .description {
        height: auto;
    }
}

/* Tablet: */
@media only screen
and (min-device-width : 641px)
and (max-device-width : 1024px) {
    .description {
        height: 8rem;
    }    
}

/* Desktop: */
@media only screen
and (min-device-width : 1025px)
and (max-device-width : 1440px) {
    .description {
        height: 7rem;
    }
}
