.search-field {
    border: solid 1px #BDBDBD;
    color: #444444;
    font-weight: 400;
    font-size: normal;
    line-height: 1.438rem;
    font-size: 0.875rem;
    border-radius: 4px 0px 0px 4px;
    outline: none;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
}

.search-field::placeholder {
    color: #828282;
}

.search-field-container {
    margin: 2rem 2rem 0 2rem;
    position: relative;
    display: flex;
    flex-direction: row;
}

.search-icon {
    color: #828282;
    font-size: 2rem;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
}

.filter-button {
    color: #828282;
    outline: none;
    border: #BDBDBD 1px solid;
    background-color: #F8F9FF;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    border-radius: 0px 4px 4px 0px;
    padding: 0.8rem 2rem 0.8rem 1rem;
    height: 2.563rem;
}

.filter-button:hover {
    cursor: pointer;
}

.arrow-dropdown-icon {
    color: #828282;
    position: absolute;
    top: 20%;
}

.filter-button,
.search-field,
.filter-header-title,
.filter-header-label,
.filter-clear-button button,
.filter-form-group label span {
    font-family: 'Inter', sans-serif;
}

.filter-container {
    background-color: #FFFFFF;
    width: 15rem;
    padding: 2rem;
    margin-top: 0.5rem;
    margin-left: 4.8rem;
    border-radius: 0.25rem;
    position: absolute;
    display: none;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.filter-container.active {
    display: block;
}

.filter-close-button-container:hover {
    cursor: pointer;
}

.filter-header,
.filter-label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-actions {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 1rem;
}

.filter-actions div {
    margin-left: 1rem;
}

.filter-actions button {
    text-transform: none;
}


button.clear-all-button {
    color: #4B68FE;
}

button.clear-all-button:hover {
    background: none;
}

.filter-label-container {
    margin-top: 1rem;
}

.filter-clear-button button {
    background: none;
    outline: none;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #4B68FE;
    border: none;
}

.filter-clear-button button:hover {
    cursor: pointer;
}

.filter-header-title {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}

.filter-header-label {
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.438rem;
}

.filter-form-group label span{
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #444444;
}

.filter-form-group label {
    height: 1.75rem;
}

.filter-form-group {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

/* Mobile: */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    .search-field {
        width: 100%;
    }

    .filter-container {
        width: 14.5rem;
        margin: 0.5rem 2rem;
    }
}

/* Tablet: */
@media only screen
and (min-device-width : 641px)
and (max-device-width : 1025px) {
    
}

/* Desktop: */
@media only screen
and (min-device-width : 1026px)
and (max-device-width : 1440px) {
      
}